<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <div class="header-container">
      <div slot="start" class="logo-container">
        <img src="assets/img/logo.svg" alt="Logo" class="logo" />
      </div>
      <ion-title class="centered-title">Home</ion-title>
      <ion-buttons slot="end">
        <ion-button *ngIf="isAuthenticated" color="light" (click)="openProfileMenu($event)">
          <ion-icon name="person-outline"></ion-icon>
        </ion-button>
        <ion-button class="entrar" expand="block" *ngIf="!isAuthenticated" (click)="goToLogin()">
          Entrar
        </ion-button>        
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container my-5">
    <h2 class="text-center">Encontre seu novo amigo aqui:</h2>
    <ion-list>
      <div class="row">
        <ion-item-sliding *ngFor="let pet of pets">
          <ion-item>
            <ion-card class="card-home">
              <div class="pet-thumbnail">
                <img *ngIf="pet.imagem" [src]="pet.imagem" alt="{{ pet.titulo }}" />
              </div>
              <div class="card-content">
                <ion-card-header>
                  <ion-card-title>{{ pet.titulo }}</ion-card-title>
                </ion-card-header>
                <ion-card-content class="detalhes">
                  <p>
                    📍 {{ pet.cidade }} - {{ pet.estado }}<br />
                    ⏰ {{ pet.date_posted | date: 'dd/MM/yyyy HH:mm' }}
                  </p>
                  <ion-button color="primary" title="Clique para saber mais" class="saiba-mais" (click)="goToDetails(pet.id)">
                    Saiba Mais
                  </ion-button>
                </ion-card-content>
              </div>
            </ion-card>
          </ion-item>
        </ion-item-sliding>
      </div>
    </ion-list>
  </div>

  <!-- Botão flutuante -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button (click)="gotoDivulgar()">Ir para divulgação</ion-button>
  </ion-fab>
  
</ion-content>
